<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <style type="text/css">
        body{
            font-size: 14px;
            color: #333;
        }
    </style>
    <%- include basicInit %>
</head>
<body>
    <div class="container">
    	<h1><%= title %></h1>
    	<p>hello, <%= title %></p>
    	<div class="row">
    		<div class="col-12">
    			<div class="col-4">
    				<button id="createBtn" onclick="createPanel()">Create</button>
    			</div>
    			<div class="col-8"></div>
    		</div>
    		<div class="col-12">
    			<h4>列表信息</h4>
    			<table class="table table-hover" id="proTable">
					<tr><td>暂无信息</td></tr>
				</table>
    		</div>
    	</div>

    	<div id="createP">
    		<button onclick="createPanel()">关闭</button>
    		<p>创建信息</p>
    		<hr>
    		<form id="productBasic">
    			<table>
    				<tr><th>标题</th><td><input name="title" type="text" /></td></tr>
    				<tr><th>描述</th><td><textarea name="description"></textarea></td></tr>
    				<tr><td><button type="button" onclick="createNew()">Create Now</button></td></tr>
    			</table>
    		</form>
    	</div>
    	
    	<form id="editP">
	    	<table>
				<tr><th>ID</th><td><input id="edProId" name="productId" type="text" /></td></tr>
				<tr><th>标题</th><td><input id="edProTitle" name="title" type="text" /></td></tr>
				<tr><th>描述</th><td><textarea id="edProDescp" name="description"></textarea></td></tr>
				<tr><td><button type="button" onclick="editUpdate()">修改信息</button></td></tr>
			</table>
	    </form>
    </div>
    <script>
    	var dataTemp = '';
    	$(function(){
    		var url = '<%= localUrl %>/product/list/all';
    		mnListObj.getAllList(url, 'get', function(data){
    			data = JSON.parse(JSON.stringify(data));
    			if(data.status == 200 && !utilLib.isEmptyObject(data.data)){
    				dataTemp = data.data;
    				var temp = '';
    				for (var key in dataTemp) {
    					var edF = "editInfo('"+dataTemp[key].productId+"')";
    					temp += '<tr><td>'+dataTemp[key].productId
    					+'</td><td>'+dataTemp[key].title
    					+'</td><td>'+dataTemp[key].description
    					+'</td><td><button onclick="editInfo('+edF+')">Edit</button><button>X</button></td></tr>';
    				}
    				$("#proTable").html(temp);
    			}
    		});
    	});
    	
    	var createStatus = false;
    	createPanel();
    	function createPanel(){
    		createStatus = createStatus ? false: true;
    		if(createStatus){
    			$("#createBtn").show();
    			$("#createP").hide();
    		}else{
    			$("#createBtn").hide();
    			$("#createP").show();
    		}
    	}  

    	function createNew(){
    		var url = '<%= localUrl %>/product/create';
    		mnPostObj.create(url, $("#productBasic").serialize(), function(data){
    			data = JSON.parse(JSON.stringify(data));
    			if(data.status == 200 && !utilLib.isEmptyObject(data.data)){
    				console.log("a:"+JSON.stringify(data));
    			}
    		});
    	}
    	
    	$("#editP").hide();
    	function editInfo (val){
    		$("#editP").show();
    		var editTemp = '';
    		for(var i=0;i<dataTemp.length;i++){
    			if(dataTemp[i]['productId']==val){
    				editTemp = dataTemp[i];
    				$("#edProId").attr("value",editTemp['productId']);
    				$("#edProTitle").attr("value",editTemp['title']);
		    		$("#edProDescp").val(editTemp['description']);
		    		continue;
    			}
    		}	
    	}
    	
    	function editUpdate(){
    		var url = '<%= localUrl %>/product/update';
            $.ajax({
                url: url,
                type:"post",
                data:$('#editP').serialize(),
                success:function(data){
                	data = JSON.parse(JSON.stringify(data));
                	if(data.status === 200){
                		window.location.reload();
                	}else{
                		alert(data.message);
                	}
                },
                error:function(err){
                    console.log(JSON.stringify(err));
                }
            });   
    	}
    </script>
</body>
</html>